
{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero vh-100">
    <div class="container d-flex align-items-center h-75">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h1 class="mb-2">The companion app for your book shelf</h1>
            <a href="{% url 'register' %}" class="w-100 w-md-50 w-lg-75 btn btn-dark">Create your account</a>
            <p>Already a member? <a href="{% url 'login' %}">Sign in.</a></p>
        </div>
    </div>
</section>
<section class="vh-100">
    <div class="container_1 d-flex justify-content-center align-items-center h-75">
        <div class="row col-5 d-flex justify-content-center">
            <h2 class="d-flex justify-content-center">Meet the team</h2>
            <p class="pt-3">As three friends scattered throughout Europe, we were looking for a way to discover books
                and share our own recommendations. Nothing cut the mustard, so we took the challenge on. We may not have
                deep pockets or lots of time, but we're willing to bet we can make up for it by working smart and taking
                pride in our work.</p>

            <div class="row d-flex justify-content-center pt-3">
                {% for Team in team_list %}
                <div class="col-4 mt-5">
                    <a href="" class="d-flex justify-content-center" ><img src="{{ Team.image_profile1.url }}" alt="" width="124" height="124"></a>
                    <p class="d-flex justify-content-center mt-4">{{ Team.first_name }} {{ Team.second_name }}</p>
                    <small class="d-flex justify-content-center text-body-secondary">{{ Team.your_city }}, {{ Team.your_country }}</small>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
<section>
    <div class="container_2 d-flex justify-content-center align-items-center h-75">
        <div class="row col-4 d-flex justify-content-center">
            <h1 class="d-flex justify-content-center">Ready to join us?</h1>
            <h6 class="d-flex justify-content-center pt-3">Oku is the companion app for your bookshelf.</h6>
            <small class="d-flex justify-content-center text-body-secondary text-center">Become a member for free to track, rate & review your favourite books with a community of others.</small>
            <button type="button" class=" col-6 btn btn-dark mt-4 py-3">Create a free account</button>
        </div>
    </div>
</section>
<section class="container_3 d-flex justify-content-center align-items-center pt-5 mx-5 mt-5 ">
    <div class="row d-flex justify-content-center">
        <h2 class="col-3 text-center">Unlock your personal statistics</h2>
        <a href="" class="col-11 d-flex justify-content-center"><img src="{% static 'home/image/Rectangleall.png' %}" alt=""></a>
    </div>
</section>
<section class="container_4 d-flex justify-content-center align-items-center pt-5 mx-5">
    <div class="row col-12">
        <div class="container_5 col-6">
            <div class="col-12 d-flex justify-content-center">
                <h2 class="text-center w-50 pt-5">Create custom collections</h2>
            </div>
            <a href="" class="col-12 d-flex justify-content-center"><img src="{% static 'home/image/Rectanglecomp.png' %}" alt=""></a>
        </div>
        <div class="container_5 col-6">
            <div class="col-12 d-flex justify-content-center px-3">
                <h2 class=" text-center w-75 pt-5">Read community reviews or leave one of your own</h2>
            </div>
            <a href="" class="col-12 pt-2 d-flex justify-content-center"><img src="{% static 'home/image/Rectangleread.png' %}" alt=""></a>
        </div>
    </div>
</section>
<section class="container_6 d-flex justify-content-center align-items-center pt-5 mx-5">
    <div class="row col-12">
        <div class="row col-6 d-flex ">
            <div class=" col-4 w-50">
                <h1>You're in good company</h1>
            </div>
            <small class="d-flex justify-content-center text-body-secondary w-50">53% of our members have imported their historical data from Goodreads. It's time for a change. Don't loathe your reading list –– liberate it.</small>
        </div>
        <div class="col-6">
            <div class="row">
                <div><img src="{% static 'home/image/Framefem.png' %}" alt=""></div>
                <div class="d-flex justify-content-end"><img src="{% static 'home/image/FrameJoe.png' %}" alt=""></div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}



